@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), url(./fonts/Roboto-Light.ttf) format('opentype');
}

@font-face {
	font-family: 'Teko';
	src: local('Teko'), url(./fonts/Teko-Light.ttf) format('opentype');
}

html, body, button{
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	font-size: 1rem;
	margin: 0;
	overflow-x: hidden;
	background-color: #020c1b;
	color: white;
	scrollbar-color: rgb(24 8 100) transparent;
}

/* .App {
	display: grid;
} */

body::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: inherit;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: inherit;
}

body::-webkit-scrollbar-thumb
{
	background-color: rgb(24 8 100);  
}
textarea::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: inherit;
}

textarea::-webkit-scrollbar
{
	width: 10px;
	background-color: inherit;
}

textarea::-webkit-scrollbar-thumb
{
	background-color: rgb(24 8 100);  
}


input{
	outline: none;
	background: transparent;
	font-family: inherit;
	color: inherit;
	height: 50px;
	box-shadow: 2.5px 2.5px 5px 2.5px black;
	width: 100%;
	max-width: 500px;
	min-width: 250px;
	border: 0;
	border-radius:10px;
	transition: all 0.5s ease-out;
}

input[type=submit]:hover{
	cursor: pointer;
	background: rgba(24,8,100,1);
}

textarea{
	outline: none;
	resize: none;
	background: transparent;
	font-family: inherit;
	color: white;
	height: 100px;
	box-shadow: 2.5px 2.5px 5px 2.5px black;
	width: 100%;
	max-width: 500px;
	min-width: 250px;
	border: 0;
	border-radius:10px;
}
h1{
	margin: 0;
	color: rgb(132, 170, 219);
	text-align: justify;
	font-weight: inherit;
	max-height: 100%;
}
h3{
	margin: 0;
	text-align: justify;
	font-weight: inherit;
	max-height: 100%;
}

footer{
	border-top: 5px solid white;
	z-index: 2;
	display: flex;
	justify-content: center;
	position: relative;
	max-width: 100%;
}

img{
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 5px;
}
a{
	text-decoration: none;
	padding: 0;
	margin: 0;
}


/*Custom classes */

.Teko{
	font-family: 'Teko';
}


.sections-home{
	display: grid;
	max-width: 100%; 
	min-height: 1300px;
	position: relative;
	z-index: 2;
}

.underline-effect{
	padding: 5px;
	border: 0;
	cursor: pointer;
	background: transparent;
	display: inline-block;
	border-radius: 8px;
	box-shadow: 2.5px 2.5px 5px 2.5px rgba(24,8,100,1);
	position: relative;
	transition: all 0.3s ease-out;
}
.underline-effect:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
}
.underline-effect:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.underline-effect-no-box{
	padding: 5px;
	border: 0;
	cursor: pointer;
	background: transparent;
	display: inline-block;
	position: relative;
	color: inherit;
	transition: all 0.3s ease-out;
}
.underline-effect-no-box:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
}
.underline-effect-no-box:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.particles-2d-canvas{
	position: absolute;
	height: 100%;
	width: 100vw;
}

.disabled-icon{
	color: darkslategray;
}

.z-index-1{
	z-index: 1;
}

.technologies{
	flex: 20%;
	background-color: gray;
	border-radius: 5px;
	margin: 5px;
	height: 5vw;
	min-height: 40px;
}

.nav-container{
	display: flex;
	max-width: 100%;
	height: 80px;
	width: calc(100% - 16px);
	right: 0;
	left: 0;
	border-radius: 4px;
	background: transparent;
	position: fixed;
	top: 0;
	z-index: 3;
	transition: all 0.5s ease-out;
}
.nav-container-scroll{
	display: flex;
	max-width: 100%;
	height: 80px;
	width: calc(100% - 16px);
	right: 0;
	left: 0;
	border-radius: 4px;
	background: rgba(43,22,55,1);
	position: fixed;
	top: 0;
	z-index: 3;
	transition: all 0.5s ease-out;

}

.clipboard-message{
	display: grid;
	pointer-events: none;
	position: absolute;
	text-align: center;
	align-items: center;
	left: 50%;
	top: 50%;
	width: 250px;
	height: 15%;
	margin-left: -125px;
	margin-top: -1%;
	transition: 0.5s ease-out;
	opacity: 0;
	background: black;
	border-radius: 5px;
}



/*Small Components*/

.icon-button{
	max-width: 50px;
	height: 45px;
	border: 0;
	background-color: transparent;
	padding: 0;
}
.icon-button-text{
	cursor: pointer;
	max-width: 200px;
	height: 45px;
	border: 0;
	padding: 0;
	transition: box-shadow 0.4s ease-out;
	border-radius: 5px;
}
.icon-button-text:hover{
	box-shadow: 0px 0px 6px 1px #000000, inset 0px -45px 0px rgba(24,8,100,1)
}

.icon-button svg{
	cursor: pointer;
	transition: all 0.5s ease-out;
	font-size: 200%;
}
.icon-button-text svg{
	cursor: pointer;
	transition: all 0.5s ease-out;
	font-size: 200%;
}

.button-shadow{
	-webkit-box-shadow: 0px 0px 6px 1px #000000,  inset 0px 0px 0px rgba(24,8,100,1); 
	box-shadow: 0px 0px 6px 1px #000000,  inset 0px 0px 0px rgba(24,8,100,1);
}

.letter-welcome-title{
	transition: all 0.2s ease-out;
	font-size: 6rem;
}
.letter-welcome-title:hover{
	color: rgba(24,8,100,1);
	transform: scale(1.1);
}
.letter-welcome-subtitle{
	transition: all 0.2s ease-out;
	font-size: 3rem;
}

@media screen and (max-width: 600px) {
	.letter-welcome-title{
		font-size: 2.5rem;
	}
	.letter-welcome-subtitle{
		font-size: 1.8rem;
	}
}

.technology-box{
	color: white;
	background: rgb(69,40,189);
	height: 50px; 
	width: 100%;
	max-width: 80px;
	min-width: 50px;
}

.project-image-box{
	z-index: 1;
	transition: all 0.5s ease-out;
	transform: rotateY(0deg);
	min-height: 300px;
	background: black;
}

.project-image-box>a{
	position: absolute;
	width: 200px;
	bottom: 16px;
	left: calc(50% - 100px);
	background-color: rgb(44, 12, 175);
}


.project-description{
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(56deg, rgba(24,14,19,1) 28%, rgba(78,21,35,1) 59%);
	z-index: 0;
	transition: all 0.5s ease-out;
	grid-template-rows: 33.33% 33.33% 33.33%;
	transform: rotateY(180deg);
}
.project-description>a{
	position: absolute;
	width: 200px;
	bottom: 16px;
	left: calc(50% - 100px);
	background-color: rgb(44, 12, 175);
}
.project-description>div>img{
		min-width: 6px;
		max-width: 200px;
}
.window-size-container{
	position: relative;
	height: 100vh;
	padding-top: 80px; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-bottom: 0; 
}
.home-menu{
	padding-top: 80px !important;
	height: calc(100% - 96px);
	width: 100%;
}

/*Generic CSS */
.text-overflow-ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
}

.white-space-nowrap{
	white-space: nowrap;
}

.bold{
	font-weight: bold;
}
.position-relative{
	position: relative;
}
.grid{
	display: grid;
}
.grid-template-rows-3{
	grid-template-rows: 33.33% 33.33% 33.33%;
}
.flex{
	display: flex;
}
.flex-child{
	display: flex;
	flex: 1;
}
.flex-child-no-flex{
	flex: 1;
}
.align-self-baseline{
	align-self: baseline;
}
.align-self-center{
	align-self: center;
}
.align-left{
	align-content: flex-start;
}
.align-right{
	align-content: flex-end;
}
.align-center{
	align-content: center;
}
.align-items-left{
	align-items: flex-start;
}
.align-items-right{
	align-items: flex-end;
}
.align-items-center{
	align-items: center;
}
.justify-left{
	justify-content: left;
}
.justify-right{
	justify-content: right;
}
.justify-center{
	justify-content: center;
}

.absolute{
	position: absolute;
}
.pa-1{
	padding: 8px;
}
.pa-2{
	padding: 16px;
}
.pa-3{
	padding: 24px;
}
.pa-4{
	padding: 32px;
}
.pa-5{
	padding: 40px;
}
.pa-6{
	padding: 48px;
}
.py-1{
	padding-top: 8px;
	padding-bottom: 8px;
}
.py-2{
	padding-top: 16px;
	padding-bottom: 16px;
}
.py-3{
	padding-top: 24px;
	padding-bottom: 24px;
}
.py-3{
	padding-top: 32px;
	padding-bottom: 32px;
}
.px-1{
	padding-left: 8px;
	padding-right: 8px;
}
.px-2{
	padding-left: 16px;
	padding-right: 16px;
}
.pl-1{
	padding-left: 8px;
}
.pr-1{
	padding-right: 8px;
}
.ma-1{
	margin: 8px;
}
.ma-2{
	margin: 16px;
}
.mt-1{
	margin-top: 8px;
}
.mt-2{
	margin-top: 16px;
}
.mx-1{
	margin-left: 8px;
	margin-right: 8px;
}
.mx-2{
	margin-left: 8px;
	margin-right: 8px;
}
.mr-1{
	margin-right: 8px;
}
.mr-2{
	margin-right: 16px;
}
.ml-1{
	margin-left: 8px;
}
.ml-2{
	margin-left: 16px;
}
.ml-3{
	margin-left: 24px;
}
.word-break-all{
	word-break: break-all;
}
.word-break-word{
	word-break: break-word;
}
.text-align-center{
	text-align: center;
}
.underline{
	text-decoration: underline;
}
.cursor-pointer{
	cursor: pointer;
}
.display-none{
	display: none;
}
.h-100{
	min-height: 100%;
}

/* ANIMATION BEFORE LOADING */

.loading-container{
	display: grid;
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: black;
	top: 0%;
	transition: all 0.5s ease-out;
	justify-content: center;
	align-content: center;
	left: 0%;
	z-index: 3;
}
.LOADING{
	display: grid;
	height: 100%;
	justify-items: center;
	align-content: center;
	width: 100%;
	position: absolute;
	color: white;
	background: black;
	top: 0;
	/*animation: loading 1s normal forwards ease-in-out;*/
	z-index: 15;
	transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
}

.LOADINGCONTAINER{
	display: grid;
	min-width: 180px;
	max-width: 350px;
	font-size: 200%;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.LOADINGCONTAINER>span{
	cursor: default;
	display: block;
	animation: loading 1s normal forwards 7 ease-in-out;
	-webkit-animation: loading 1s normal forwards 7 ease-in-out;
	text-align: center;
	margin: 0;
	color: white;
	text-shadow: -1px 0px 9px rgb(255, 255, 255);
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.LOADING>.messages{
			cursor: default;
			display: block;
			animation: loading 1s normal forwards 7 ease-in-out;
			-webkit-animation: loading 1s normal forwards 7 ease-in-out;
			text-align: center;
			margin: 0;
			color: white;
			text-shadow: -1px 0px 9px rgb(255, 255, 255);
			transition: all 1s ease-out;
			-webkit-transition: all 1s ease-out;
}
.loading-bar{
	width: 300px;
	margin-top: 5%;
	z-index: 2;
	height: 60px;
	background-color: black;
	box-shadow: 5px 5px 15px 5px black;
}
.progress-bar{
	position: relative;
	transition: all 0.5s ease-out;
	width: 0%;
	top: -80%;
	height: 60px,;
	background: rgba(24,8,100,1);
}
.percentage{
	position: relative;
	top: 10%;
	font-size: 200%;
	z-index: 5;
	display: grid;
	text-align: center;
	align-content: center;
}

.warning{
	color: green;
}

@keyframes loading{
	from {
			transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
	}
	50% {
					transform: scale(1.1, 1.1);
					-webkit-transform: scale(1.1, 1.1);
	}
	to {
					transform: scale(1, 1);
					-webkit-transform: scale(1, 1);
	}
}


@keyframes loadingDone{
	from {
			opacity: 1;
			transform: scale(1, 1);
	}
	to {
			opacity: 0;
			transform: scale(1, 1);
	}
}



@keyframes moveDiv{
    to{
        left: 0%;
    }
}

@keyframes moveDivBackwards{/*Move to the opposite way*/
    to{
        left: -100%;
    }
}

@keyframes transition {/*Transition for the background of my bio*/
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.xenta_image_to_gif:hover{
	opacity: 0;
}


/*CONDITIONAL RENDERING */

.fade-in{
	animation: fadeIn 0.25s normal forwards ease-in-out;
	-webkit-animation: fadeIn 0.25s normal forwards ease-in-out;
}

@keyframes fadeIn{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

