html, body, button{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	margin: 0;
	overflow-x: hidden;
	color: white;
}

/* .App {
	display: grid;
} */

body::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;  
}

.sections-home{
	display: grid;
	width: 100%; 
	height: 1620px; 
	position: relative;
	z-index: 2;
}

.particles-2d-canvas{
	position: absolute;
	height: 100%;
	width: 100vw;
	background: black;
}

h1{
	margin: 0;
	text-align: justify;
}
h3{
	margin: 0;
	text-align: justify;
}

.nav-container{
	display: flex;
	width: 100%;
	height: 5rem;
	background: black;
	position: sticky;
	color: white;
	top: 0;
	z-index: 3;
}
.title{
	transition: all 0.5s ease-out;
	cursor: default;
	margin: 0;
	color: white;
	font-family: Teko, sans-serif;
}
.a-link-holder{
	display: grid;
	text-decoration: none;
	color: white;
	cursor: default;
	flex: 1;
	justify-content: right;
	align-items: center;
}
.grid{
	display: grid;
}
.flex{
	display: flex;
}
.flex-child{
	display: flex;
	flex: 1;
}
.align-left{
	align-content: flex-start;
}
.align-right{
	align-content: flex-end;
}
.align-center{
	align-content: center;
}
.align-items-left{
	align-items: flex-start;
}
.align-items-right{
	align-items: flex-end;
}
.align-items-center{
	align-items: center;
}
.justify-left{
	justify-content: left;
}
.justify-right{
	justify-content: right;
}
.justify-center{
	justify-content: center;
}
.icon-custom svg{
	cursor: pointer;
	transition: all 0.5s ease-out;
	color: white;
	font-size: 200%;
}
.window-size-container{
	position: relative;
	min-height: 100vh;
	max-height: 100vh; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-bottom: 0; 
}
.absolute{
	position: absolute;
}
.pa-1{
	padding: 8px;
}
.pa-2{
	padding: 16px;
}
.display-none{
	display: none;
}

/* ANIMATION BEFORE LOADING */

.loading-container{
	display: grid;
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: black;
	top: 0%;
	transition: all 0.5s ease-out;
	justify-content: center;
	align-content: center;
	left: 0%;
	z-index: 3;
}
.LOADING{
	display: grid;
	height: 100%;
	justify-items: center;
	align-content: center;
	width: 100%;
	position: absolute;
	color: white;
	background: black;
	top: 0;
	/*animation: loading 1s normal forwards ease-in-out;*/
	z-index: 15;
	transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
}

.LOADINGCONTAINER{
	display: grid;
	min-width: 180px;
	max-width: 350px;
	font-size: 200%;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.LOADINGCONTAINER>span{
	cursor: default;
	display: block;
	animation: loading 1s normal forwards 7 ease-in-out;
	-webkit-animation: loading 1s normal forwards 7 ease-in-out;
	text-align: center;
	margin: 0;
	color: white;
	text-shadow: -1px 0px 9px rgb(255, 255, 255);
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.LOADING>.messages{
			cursor: default;
			display: block;
			animation: loading 1s normal forwards 7 ease-in-out;
			-webkit-animation: loading 1s normal forwards 7 ease-in-out;
			text-align: center;
			margin: 0;
			color: white;
			text-shadow: -1px 0px 9px rgb(255, 255, 255);
			transition: all 1s ease-out;
			-webkit-transition: all 1s ease-out;
}
.loading-bar{
	width: 300px;
	margin-top: 5%;
	z-index: 2;
	height: 60px;
	background-color: black;
	box-shadow: 5px 5px 15px 5px black;
}
.progress-bar{
	position: relative;
	transition: all 0.5s ease-out;
	width: 0%;
	top: -80%;
	height: 60px,;
	background: rgba(24,8,100,1);
}
.percentage{
	position: relative;
	top: 10%;
	font-size: 200%;
	z-index: 5;
	display: grid;
	text-align: center;
	align-content: center;
}

@keyframes loading{
	from {
			transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
	}
	50% {
					transform: scale(1.1, 1.1);
					-webkit-transform: scale(1.1, 1.1);
	}
	to {
					transform: scale(1, 1);
					-webkit-transform: scale(1, 1);
	}
}


@keyframes loadingDone{
	from {
			opacity: 1;
			transform: scale(1, 1);
	}
	to {
			opacity: 0;
			transform: scale(1, 1);
	}
}



@keyframes moveDiv{
    to{
        left: 0%;
    }
}

@keyframes moveDivBackwards{/*Move to the opposite way*/
    to{
        left: -100%;
    }
}

@keyframes transition {/*Transition for the background of my bio*/
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.xenta_image_to_gif:hover{
	opacity: 0;
}