@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./fonts/Roboto-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'Teko';
    src: local('Teko'), url('./fonts/Teko-Light.ttf') format('opentype');
}

:root {
  --background-color: #020c1b;
  --primary: #020A33;
  --background: #1e2429;
  --background-2: #36393f;
  --button-light: #E9ECEF;
  --button-dark: #020A33;
  --card: #0070f3;
  --warning: #ffb300;
  --success: #00d084;
}

html, body, #root{
    height: var(--vh);
    width: calc(var(--vw) - 10px);
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: white;
    scrollbar-color: rgb(24 8 100) transparent;
    background-color: var(--background-color);
}

body{
  overflow-y: auto;
  overflow-x: hidden;
}

@tailwind utilities;

.h-100{
  height: var(--vh);
}

.min-h-100vh{
  min-height: var(--vh);
}

.w-100{
  width: var(--vw);
}

body::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: inherit;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: inherit;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(24 8 100);
}

textarea::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: inherit;
}

textarea::-webkit-scrollbar {
    width: 10px;
    background-color: inherit;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(24 8 100);
}

input {
    outline: none;
    background: transparent;
    font-family: inherit;
    color: inherit;
    height: 50px;
    box-shadow: 2.5px 2.5px 5px 2.5px black;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    border: 0;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}

input[type=submit]:hover {
    cursor: pointer;
    background: rgba(24, 8, 100, 1);
}

textarea {
    outline: none;
    resize: none;
    background: transparent;
    font-family: inherit;
    color: white;
    height: 100px;
    box-shadow: 2.5px 2.5px 5px 2.5px black;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    border: 0;
    border-radius: 10px;
}

.clipboard-message {
    display: grid;
    pointer-events: none;
    position: fixed;
    text-align: center;
    align-items: center;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 100px;
    margin-left: -125px;
    margin-top: -50px;
    transition: 0.5s ease-out;
    animation: fadeInAndOut 1.25s ease-out forwards;
    opacity: 1;
    background-color: rgba(43, 22, 55, 1);
    border-radius: 5px;
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*Small Components*/
.inset-button-shadow{
  -webkit-box-shadow: 0px 0px 6px 1px #000000, inset 0px 0px 0px rgba(24, 8, 100, 1);
  box-shadow: 0px 0px 6px 1px #000000, inset 0px 0px 0px rgba(24, 8, 100, 1);
}

.inset-button-shadow:hover{
  box-shadow: 0px 0px 6px 1px #000000, inset 0px 12rem 0px rgba(24, 8, 100, 1)
}

.button-shadow-icon{
  color: white;
  &:hover{
    color: rgb(44, 12, 175);
  }
}

button:disabled{
  opacity: 0.5;
  pointer-events: none;
}

/*Spinner*/

.spinner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid rgb(132, 170, 219);
    border-left: 4px solid green;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.shrinkY{
  animation: shrinkY 0.25s normal forwards ease-out;
  transition: all 0.25s ease-out;
}

@keyframes shrinkY {
  to {
    font-size: 0;
    margin: 0;
    opacity: 0;
  }
}

.expandY{
  animation: expandY 0.25s ease-out forwards;
  transition: all 0.25s ease-out;
}

@keyframes expandY {
  from{
    height: 0px;
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    height: 100%;
    transform: scaleY(1);
    opacity: 1;
  }
}

/*CONDITIONAL RENDERING */

.fade-in-up {
  animation: fade-in-up 1s forwards;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-in-right {
  animation: fade-in-right 1s forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-in-left {
  animation: fade-in-left 1s forwards;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-in-down {
  animation: fade-in-down 1s forwards;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-in {
    animation: fadeIn 0.25s ease-in-out forwards;
    -webkit-animation: fadeIn 0.25s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.75s normal forwards ease-in-out;
    -webkit-animation: fadeOut 0.75s normal forwards ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}



.animate-text{
    display: inline-block;
    animation: textBounceJump 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes textBounceJump {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}