body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: white;
}

code {
  font-family: 'Open Sans', sans-serif;
}
.App {
  display: grid;
}

body::-webkit-scrollbar-track
{
  border: 1px solid black;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background-color: #000000;  
}


/* ANIMATION BEFORE LOADING */
.LOADING{
  display: grid;
  height: 100%;
  justify-items: center;
  align-content: center;
  width: 100%;
  position: absolute;
  color: white;
  background: black;
  top: 0;
  /*animation: loading 1s normal forwards ease-in-out;*/
  z-index: 15;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
}

.LOADINGCONTAINER{
  display: grid;
  min-width: 180px;
  max-width: 350px;
  font-size: 200%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  font-family: Teko, sans-serif;
}

.LOADINGCONTAINER>span{
  cursor: default;
  display: block;
  animation: loading 1s normal forwards 7 ease-in-out;
  -webkit-animation: loading 1s normal forwards 7 ease-in-out;
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: -1px 0px 9px rgb(255, 255, 255);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.LOADING>.messages{
    cursor: default;
    display: block;
    animation: loading 1s normal forwards 7 ease-in-out;
    -webkit-animation: loading 1s normal forwards 7 ease-in-out;
    text-align: center;
    margin: 0;
    color: white;
    text-shadow: -1px 0px 9px rgb(255, 255, 255);
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

@keyframes loading{
  from {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  50% {
      transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
  }
  to {
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
  }
}


@keyframes loadingDone{
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(1, 1);
  }
}
